body 
    background #ecf0f1
    margin 0
    padding-top 20px

#chart
    position relative
    width 1000px
    height 750px
    margin 30px auto 60px auto
    background white
    border-radius 10px
    box-shadow 0px 0px 5px rgba(000,000,000,0.2)

#chart-title
    position absolute
    left 35px
    top -5px
    color #95a5a6

svg
    margin-left 15px

.btn-group, .form-inline
    width 900px
    height 40px
    margin-left 10%

.form-inline
    margin-bottom 15px

    .form-group:nth-child(1) .form-control
        border-radius 5px 0px 0px 05px 
    .form-group:nth-child(2) .form-control
        border-radius 0px
        border-left none
        border-right none
    .form-group:nth-child(3) .form-control
        border-radius 0px 5px 5px 0px 
                 