
svg circle.Sunrise 
    stroke #f39c12
    fill white
    stroke-width 3px

svg circle.Sunset 
    stroke #9b59b6
    fill white
    stroke-width 3px

svg circle:hover 
    cursor pointer
    stroke-width 5px

h1 
    font-family 'Helvetica Neue', 'Sans Serif'
    margin-left 240px

.axis path,
.axis line 
    fill none
    stroke black
    shape-rendering crispEdges


.axis text 
    font-family sans-serif
    font-size 11px

